In [130]:
import pandas as pd

data = pd.read_csv('../../../../../Downloads/archive/GSAF5.csv', encoding='cp1252' )
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [131]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [132]:
#drop all values after row 6302 because all of them are null

data = data.drop(data.index[6302:])

In [135]:
#drop all duplicate values

subset = data[['Date', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)']]

subset.duplicated().any()   # devuelve True

subset[subset.duplicated()]   # obtengo los indices de los duplicados: 4688, 5709, 6295

data.drop([4688, 5709], inplace=True)

In [136]:
#Create new column call case number, with unique values

data['Case Number'] = [int(e) for e in range(1, len(data)+1)]

In [126]:
#Changing values from Case Number.1 to Date because from 0 to 6177 case number has the dates
data.loc[0:6177, "Date"] = data.loc[0:6177, 'CaseNumber.1']
#removing extra values from date
data['Date'] = data['Date'].str.extract('^(\d{4}\.\{2}d\.\d{2})', expand =False)
#behind the row 6177 values arent exact so 'unknown'
data.loc[6177:, 'Date'] = 'unknown'

In [141]:
#eliminating 0 that is at the final of a lot of years
data['Year'] = data['Year'].astype(str).replace(to_replace=r'\.0', value = '', regex=True)

In [145]:
#there are 5990 and 5991, nan values from 5992 in the columns Unname 22 and Unnamed 23 so we are going to drop them.
print(data['Unnamed: 23'].isna().sum())
print(data['Unnamed: 22'].isna().sum())

data = data.drop(['Unnamed: 23', 'Unnamed: 22'], axis = 1)
data.columns

5988
5989

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [26]:
#Drop year since it is in data and change date to date-format
data['Date'] = pd.to_datetime(data['Date'], errors = 'coerce')
data = data.drop(['Year'], axis = 1)

In [31]:
data.isnull().sum()

Case Number                  0
Date                       857
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [32]:
bool_series = pd.isnull(data["Time"]) 
    
# filtering data 
# displaying data only with Gender = NaN 
data[bool_series]

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
3,2016.09.17,2016-09-17,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,2016-09-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
5,2016.09.15.R,2016-09-15,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,...,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
11,2016.09.04,2016-09-04,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,9,...,N,NaN,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04-Moore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.04,2016.09.04,5982
12,2016.09.01,2016-09-01,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,22,...,N,NaN,White shark,"R. Collier, GSAF",2016.09.01-McQuillen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.01,2016.09.01,5981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,NaT,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,NaT,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,NaT,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,NaT,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,NaT,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [34]:
#using 'unknown' in nan values of column Time
import numpy as np

data['Time'] = np.where(data['Time'].isna(), 'unknown', data['Time'])
data.isnull().sum()

Case Number                  0
Date                       857
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                         0
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [39]:
#remove spaces from columns Species, Sex

data.columns = data.columns.str.replace(' ', '')
data.columns

Index(['CaseNumber', 'Date', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal(Y/N)', 'Time', 'Species',
       'InvestigatororSource', 'pdf', 'hrefformula', 'href', 'CaseNumber.1',
       'CaseNumber.2', 'originalorder'],
      dtype='object')

In [49]:
data['Species'].value_counts()

White shark                               161
Shark involvement not confirmed            80
Tiger shark                                68
Bull shark                                 52
6' shark                                   40
                                         ...
4' shark?                                   1
4' "ground shark"                           1
Blue shark, 4.5 m [14'9"]                   1
1.2 m to 1.5 m [4' to 5'] "reef shark"      1
1.8 m [6'] bull shark                       1
Name: Species, Length: 1538, dtype: int64

In [67]:
#Clean column Species 

data['Species'] = np.where(data['Species'].str.contains('blue'), 'Blue Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('Blue'), 'Blue Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('White'), 'White Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('white'), 'White Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Bull'), 'Bull Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('bull'), 'Bull Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Tiger'), 'Tiger Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('tiger'), 'tiger Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Thresher'), 'Thresher Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('thresher'), 'Thresher Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Hammerhead'), 'Hammerhead Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('hammerhead'), 'Hammerhead Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Grey'), 'Grey Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('grey'), 'Grey Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Reef'), 'Reef Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('reef'), 'Reef Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Nurse'), 'Nurse Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('nurse '), 'Nurse Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Lemon'), 'Lemon Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('lemon'), 'Lemon Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Blacktip'), 'Blacktip Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('blacktip'), 'blacktip Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Dogfish'), 'Dogfish Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('dogfish'), 'Dogfish Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Raggedtooth'), 'Raggedtooth Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('raggedtooth'), 'Raggedtooth Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Wobbegong'), 'Wobbegong Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('wobbegong'), 'Wobbegong Shark', data['Species'])

data['Species'] = np.where(data['Species'].str.contains('Bronze'), 'Bronze Shark', data['Species'])
data['Species'] = np.where(data['Species'].str.contains('bronze'), 'Bronze Shark', data['Species'])


shark_species = ['Bronze Shark', 'Wobbegong Shark', 'Raggedtooth Shark', 'Dogfish Shark', 'Blacktip Shark', 'Lemon Shark', 'Nurse Shark', 'Reef Shark', 'Grey Shark', 'Hammerhead Shark', 'Thresher Shark', 'Tiger Shark', 'Bull Shark', 'White Shark', 'Blue Shark']

data['Species'] = np.where(data['Species'].isin(shark_species), data['Species'],'Unknown')


data['Species'].value_counts()

Blue Shark           2994
Unknown              1505
White Shark           644
Tiger Shark           233
Bull Shark            174
Grey Shark             65
Bronze Shark           63
Nurse Shark            54
Hammerhead Shark       48
Reef Shark             45
Wobbegong Shark        45
Raggedtooth Shark      44
Blacktip Shark         40
Lemon Shark            31
Thresher Shark          4
Dogfish Shark           3
Name: Species, dtype: int64

In [147]:
#Removing unknown Age values
data['Age'] = np.where(data['Age'].isna(), 'unknown', data['Age'])

In [146]:
data['Date'] = np.where(data['Date'].isna(), pd.NaT, data['Date'])

In [149]:
compression_opts = dict(archive_name = 'cleaned shark attacks.csv')
data.to_csv('cleaned shark attacks.csv')